.btn {
  background-color: #16db99;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
  padding: 1.125em 2em;
  transition: all 300ms;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  filter: brightness(120%);
}
